.child-page {
    width: 1200px;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
}
.description {
    padding: 20px;
    font-size: 20px;
    color: white;
    ul {
        padding-left: 20px;
    }
}
.graphic {
    margin-bottom: 20px;
    &__hidden {
        height: 0px;
        overflow: hidden;
    }
}
@media screen and (max-width: 1199px) and (min-width: 768px) {
    .child-page {
      max-width: 700px;
    }
}
@media screen and (max-width: 767px) and (min-width: 576px) {
    .child-page {
      max-width: 560px;
    }
}
@media screen and (max-width: 575px) {
    .child-page {
      max-width: 400px;
    }
}