@import './action-buttons.scss';
.line-chart {
  position: relative;
  background-color: rgba(255, 255, 255, 0.8);
  &__filters {
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 0px;
    &-wrapper {
      display: flex;
    }
  }
}
@media screen and (max-width: 575px) {
  .line-chart {
    &__filters {
      display: flex;
      flex-direction: column;
    }
  }
}